n8n-workflow-obsidian-lightning.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d5fa7ef5-25dc-4e44-bfe3-59d2266f7ad9"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/nayabashi/Obsidian/git/trees/main?recursive=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Repository Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "722a54c5-3c01-407d-849a-e2ee6791a20e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CZ7bSKSKRrjFkx2M",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const targetPaths = ['03_思考の森/', '06_知識のメモ/'];\nconst tree = $input.item.json.tree || [];\n\nconst mdFiles = tree.filter(file => {\n  return file.type === 'blob' &&\n         file.path.endsWith('.md') &&\n         targetPaths.some(path => file.path.startsWith(path));\n});\n\nreturn mdFiles.map(file => ({\n  json: {\n    path: file.path,\n    sha: file.sha,\n    url: `https://api.github.com/repos/nayabashi/Obsidian/contents/${file.path}`\n  }\n}));"
      },
      "name": "Filter Target Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "89363ae2-2b9d-47d7-81c9-49b91da34ec5"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Get File Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        112
      ],
      "id": "9699e9e6-6519-4635-8f6a-b58437b1a8da",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CZ7bSKSKRrjFkx2M",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const inputData = item.json;\n  const content = Buffer.from(inputData.content, 'base64').toString('utf-8');\n  \n  // frontmatter抽出\n  const hasFrontmatter = content.startsWith('---');\n  let metadata = { tags: [] };\n  \n  if (hasFrontmatter) {\n    const fmMatch = content.match(/^---\\n([\\s\\S]*?)\\n---/);\n    if (fmMatch) {\n      const fmText = fmMatch[1];\n      const tagsMatch = fmText.match(/tags:\\s*\\[([^\\]]*)\\]/);\n      if (tagsMatch) {\n        metadata.tags = tagsMatch[1].split(',').map(t => t.trim().replace(/[\"']/g, ''));\n      }\n    }\n  }\n  \n  let bodyContent = content;\n  if (hasFrontmatter) {\n    bodyContent = content.replace(/^---\\n[\\s\\S]*?\\n---\\n?/, '');\n  }\n  const wordHint = bodyContent.substring(0, 100).replace(/\\n/g, ' ');\n  \n  results.push({\n    path: inputData.path,\n    has_meta: hasFrontmatter,\n    char_count: content.length,\n    word_hint: wordHint,\n    tags: metadata.tags\n  });\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        128
      ],
      "id": "a8e12df7-7753-42b1-ac1a-d150121feadf"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst index = {\n  generated_at: new Date().toISOString(),\n  source: 'nayabashi/Obsidian',\n  total_notes: items.length,\n  notes: items.map(item => ({\n    path: item.json.path,\n    has_meta: item.json.has_meta,\n    char_count: item.json.char_count,\n    word_hint: item.json.word_hint,\n    tags: item.json.tags || []\n  }))\n};\n\nconst jsonString = JSON.stringify(index, null, 2);\nconst base64Content = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  json: {\n    content: base64Content\n  }\n};"
      },
      "name": "Generate index.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        0
      ],
      "id": "0bc7f4e8-f14b-4f1c-9fb9-a8a17bcf01cb"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/nayabashi/obsidian-lightning-api/contents/index.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Get Current File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        0
      ],
      "id": "e3ac9609-24e7-4f4c-a551-ef9baee8cddb",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6AxV9PNVEVou47KL",
          "name": "Header Auth account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/nayabashi/obsidian-lightning-api/contents/index.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Update index.json for 雷アプリ"
            },
            {
              "name": "content",
              "value": "={{ $('Generate index.json').first().json.content }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Get Current File SHA').first().json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update GitHub File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        0
      ],
      "id": "0788969e-9474-44f8-b99d-bf74d2bf2cb6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6AxV9PNVEVou47KL",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Repository Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repository Tree": {
      "main": [
        [
          {
            "node": "Filter Target Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Target Files": {
      "main": [
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Generate index.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate index.json": {
      "main": [
        [
          {
            "node": "Get Current File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current File SHA": {
      "main": [
        [
          {
            "node": "Update GitHub File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aea71eb7-9aa9-4db0-8157-12ca3f600da7",
  "meta": {
    "instanceId": "d7a7fadd486955e41d5ae014c8948e65e87fd4808308cb31a278a152810f1e58"
  },
  "id": "kqGZ1sVi9lXvrn3J",
  "tags": []
}